<html lang="en" ng-app="myModule">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="./scripts/angular.min.js"></script>
    <script src="./scripts/script.js"></script>
    <link rel="stylesheet" href="./style/style.css">
    <title>Document</title>
</head>
<body >
    <div ng-controller ="myController">
        
        <img ng-src="./source/pp1.jpg" alt="">
       <div>
           <!-- <table>
               <thead>
                   <tr>
                       <th>First Name</th>
                       <th>Last Name</th>
                       <th>Gender </th>
                   </tr>
               </thead>
               <tbody>
                   <tr ng-repeat="employee in employees">
                       <td>{{employee.firstName}}</td>
                       <td>{{employee.lastName}}</td>
                       <td>{{employee.gender}}</td>
                   </tr>
               </tbody>
           </table> -->
           <!-- <div>
               <ul>
                   <li ng-repeat = "country in countries">
                    {{ country.name}}  
                    <ul ng-repeat = "city in country.cities">
                        <li>{{city.name}}</li>
                    </ul>
                   </li>
               </ul>
           </div>

       </div> -->
        <!-- <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Likes </th>
                    <th>Dislikes</th>
                    <th>Likes/Dislikes</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat ="technology in technologies">
                    <td>{{technology.name}}</td>
                    <td>{{technology.likes}}</td>
                    <td>{{technology.dislikes}}</td>
                    <td>
                        <input type="button" value="likes" ng-click="incrementLikes(technology)">
                        <input type="button" value="dislikes" ng-click="incrementDislikes(technology)">
                    </td>
                </tr>
            </tbody>
        </table> -->
    </div>
    </div>
</body>
</html>